<!DOCTYPE html>
<html lang="en">
 
<%- include('../partials/head'); %>

<body class="container">

  <%- include('../partials/header', {pagina: 'Sobre'} ); %>

  <main>
    <div class="jumbotron">
      <h3>About me :)</h3>
      <p>I'am Joao nice to meet you, how are you going?</p>
    </div>
  </main>

  <%- include('../partials/footer'); %>
</body>
</html>